.cell{
  padding: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img{
  cursor: grabbing;
}

.light{
  background-color: #faebd7
}

.dark{
  background-color: #504a42
}

@media screen and (max-width: 768px) {
  .cell {
    aspect-ratio: 1/1;
    flex-grow: 1;
    width: auto;
    height: auto;
    padding: 10px;
  }
}

@media screen and(max-width: 500px){
  .cell {
    width:35px;
    height: 35px;
  }
}