.board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.board-row{
  display: flex;
}

.piece{
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 768px) {
  .piece{
    aspect-ratio: 1/1;
    width:10vmin;
    height: 10vmin;
  }

  .board-row{
    width: 100vw;
    justify-content: center;
  }
  
}
