*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  color: wheat;
  background-color: #1d1d1d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}